aclocal.m4
autom4te.cache/
*bak
compile
confdefs.h
config.*
configure
depcomp
doc/*.bak
install-sh
libtool
ltmain.sh
Makefile
/Makefile.in
missing
netifyd-*.tar.gz
*orig
osc
*rej
stamp-h1
test-driver
