aclocal.m4
autom4te.cache/
compile
confdefs.h
config.*
configure
depcomp
doc/*.bak
install-sh
libmnl/
libnetfilter_conntrack/
libnfnetlink/
libtool
ltmain.sh
Makefile
/Makefile.in
missing
netifyd-*.tar.gz
osc
stamp-h1
.ycm_extra_conf*
