[Unit]
Description=ClearOS DPI Daemon
After=syslog.target network.target

[Service]
Type=forking
PIDFile=/var/run/cdpid/cdpid.pid
User=root
ExecStartPre=/usr/libexec/cdpid/exec-pre.sh
ExecStart=/usr/sbin/cdpid $CDPID_OPTS
Restart=on-abort

[Install]
WantedBy=multi-user.target
